[init]
	defaultBranch = main
[commit]
	gpgsign = true
[user]
	name = Hugo Gouveia
	useConfigOnly = true

[include]
    path = ~/.config/git/local.gitconfig

[includeIf "gitdir:~/src/ws/dev/hfg/"]
	path = ~/.config/git/personal.gitconfig

[includeIf "gitdir:~/src/ws/dev/work/"]
	path = ~/.config/git/work.gitconfig

[includeIf "gitdir:~/src/ws/dev/contract/"]
	path = ~/.config/git/contract.gitconfig

[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    # light = true
[merge]
    conflictstyle = zdiff3
[rerere]
    enabled = true
